<% layout('layouts/boilerplate')%>

<!-- HEADER -->
<header id="header" class="bg-primary text-white">
    <div class="container py-2 ">
        <h1><%= post.title %></h1>
    </div>
</header>

<!-- BUTTONS -->

    <section id="buttons" class="bg-light p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="/" class="btn btn-block btn-light">
                        <i class="fas fa-arrow-left"></i>
                        Back to Dashboard
                    </a>
                </div>

                <% if (isAuthor) { %>
                <div class="col-md-3">
                    <a href="/posts/<%= post._id %>/edit" class="btn btn-block btn-primary">
                        <i class="fas fa-edit"></i>
                        Edit Post
                    </a>
                </div>
                <% } %> 
                <% if (currentUser && post.author.equals(currentUser._id) || isAdmin ) { %> 
                <div class="col-md-3">
                    <form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
                        <button type="submit" formmethod="POST" class="btn btn-block btn-danger" >
                            <i class="fas fa-trash"></i>
                            Delete Post
                        </button>
                    </form>
                </div>
                <% } %> 
            </div>
        </div>
    </section>

<!-- POST EDITION -->
    <section id="post-edition" class="mt-3">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    A post on
                    <a href="/categories/<%= post.category._id %> "> <%= post.category.name %> <i class="fas fa-folder"></i></a>
                       </div> <div class="card-header">
                      by 
                     <a href="/users/<%= post.author._id %> "> <%= post.author.username %> <i class="fas fa-user"></i> </a>
                </div>
                <div class="card-body">
                    <p><%- post.body %></p>
                </div>
                <div id="postCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner card-img-bottom">
                        <% post.images.forEach((img, i) => {  %>              
                        <div class="carousel-item <%= i === 0 ? 'active' : ''%>">   
                            <img src="<%= img.url%>" class="d-block w-100" alt="">
                        </div>
                        <% }) %>

                    </div>
                    <% if(post.images.length > 1) {%>                          
                    <a class="carousel-control-prev" href="#postCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#postCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <% } %>
                </div>
            </div>            
        </div>

    </section>
