<% layout('layouts/boilerplate')%>

<!-- HEADER -->

<header id="header" class="bg-warning text-white">
    <div class="container py-2 ">
        <h1>
            <i class="fas fa-user"></i>
            Edit <%= isOwnProfile? "your Profile" : user.name %>
        </h1>
    </div>
</header>

<!-- BUTTONS -->

<section id="buttons" class="bg-light p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href=<%= isOwnProfile ? "/" : `/users/${user.id}` %> class="btn btn-block btn-light">
                    <i class="fas fa-arrow-left"></i>
                    <%= isOwnProfile ? "Back to Dashboard" : `Back to ${user.name}'s posts` %>
                </a>
            </div>
            <div class="col-md-3">
                <button type="submit" formmethod="POST" class="btn btn-block btn-success"
                    onclick="!this.form && document.getElementById('user-form').submit()">
                    <i class="fas fa-check"></i>
                    Save Changes
                </button>
            </div>
            <div class="col-md-3">
                <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                    <button type="submit" formmethod="POST" class="btn btn-block btn-danger" <%= (user.name == "Paula Colomé")? 'disabled' : ''%> >
                        <i class="fas fa-trash"></i>
                        Delete <%= isOwnProfile ? 'Account' : 'User' %>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- PROFILE EDITION -->

<section id="profile-edition" class="">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Edit Profile</h4>
                    </div>
                    <div class="card-body">
                        <form id='user-form' action="/users/<%=user._id%>/?_method=PUT" method="POST">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" name="user[name]" id="name" class="form-control" value="<%= user.name %>">
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="user[email]" id="email" class="form-control" value="<%= user.email %>">
                            </div>

                            <div class="form-group mb-3">
                                <label for="bio">Bio</label>
                                <textarea name="user[bio]" class="form-control">
                                    <%= user.bio %> 
                                </textarea>
                            </div>                               
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-3 text-center pt-2">
                <h4>Avatar</h4>
                <img class="img-fluid d-block mb-3" src="/../../img/avatar.png" alt="">
                <button class="btn btn-block btn-primary">Edit Image</button>
                <button class="btn btn-block btn-danger">Delete Image</button>
            </div>
        </div>
            
    </div>
        
</section>

<!-- TEXT-EDITOR SETUP -->
<script src="//cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('user[bio]');
</script>